*{
  box-sizing: border-box;
}
body{
  margin: 0;
  font-family: "Odibee Sans";
  height: 100vh;
}
/* Welcome Page */
.root{
  height: 100vh;
}
.contenedor{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding:60px 20px 0;
  max-width: 350px;
  margin:0 auto;
  height: 100vh;
}
.titulo{
  margin-bottom:74px;
}
.subtitulo{
  margin-bottom: 45px;
}
.button{
  margin-bottom: 86px;
}
.contenedor-manos{
  display: flex;
  justify-content: space-around;
  transform: translateY(60px);
  transition: all 1s ease-in-out;
}
.inverted{
  transform: rotate(3.142rad);
}
/* .hand:hover{
  display: flex;
} */
.active{
  transform: translateY(5px);
  transition: all 0.3s ease-in-out;
}
.inactive{
  opacity: 45%;
  transition: all 0.3s ease-in-out;
}
.intervaloContador{
  font-weight:700;
  font-size:100px;
  text-align: center;
}
/*  */